@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&family=Open+Sans&display&family=Almendra&display=swap');
/* font-family: 'Almendra', serif;
font-family: 'Almendra Display', cursive;
font-family: 'Open Sans', sans-serif; */

.body{
  background-color: #fdfaf6;
}

#hobbetsy-title {
  font-size: 80px;
  font-family: 'Almendra', serif;
  text-align: center;
}

h1#hobbetsy-title {
  margin: -20px 0 10px 0;
}

#auth-nav-btn {
  margin-bottom: 0;
}

.form-image-container{
  border: 2px solid red;
  display: flex;
  width: 100%;
  max-height: 80%;
  justify-content: flex-start;
  margin: 1rem 0 2rem 0;
  padding: 0 5rem 0 0;
  align-items: center;
  flex-direction: column;
}


.door-image-container{
  border: 2px solid green;
  position: absolute;
  /* margin: 0 auto; */
  padding-right: 30vw;
  max-width: 60%;
 /* float: right; */
}

.door-image-container.door-open img{
  transform: rotateY(-180deg) scale(3) translateX(-207px);
  transition: 3s;
}

.shire-image-container{
  border: 2px solid blue;
  position: absolute;
  padding-right: 30vw;
  max-width: 60%;
}

/*
  width: 100%;
  height: auto;
  float: right;
}*/

.shire-image-container img{
  width: 100%;
}

.shire-image-container.shire-zoom img{
  border: 10px yellow solid;
  transition: transform 3s;
  transform: scale(3) translateX(-207px);
}

.door-image-container img{
  width: 100%;
}

.image-sizing{
  height: 1000px;
}

.form-container{
  border: 2px solid orange;
  /* position: absolute; */
  margin-top: 650px;
  margin-bottom: 10px;
  width: 50%;
  font-family: 'Almendra', cursive;
  font-size: 25px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.form-container form div {
  /* border: 2px solid pink; */
  float: left;
  /* display: flex;
  justify-content: flex-start; */
  text-align: left;
  padding-left: 1rem;
  width: 90%;
}

.login-form-input {
  margin: 0 0.5rem 0.5rem 0.5rem;
  padding: 0.5rem;
  width: 50%;
  float: right;
}

.form-container>::placeholder{
  font-family: 'Almendra', cursive;
  font-size: 15px;
}

::placeholder{
  font-family: 'Almendra', cursive
}

.login-submit-btn {
  margin-top: 10px;
  font-size: 16px;
}

.auth-nav{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-items button{
  width: 8vw;
  margin: 1rem;
}
