@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&family=Open+Sans&display&family=Almendra&display=swap');
/* font-family: 'Almendra', serif;
font-family: 'Almendra Display', cursive;
font-family: 'Open Sans', sans-serif; */

.body{
  background-color: #fdfaf6;
}

.form-image-container{
  border: 2px solid red;
  display: flex;
  width: 100%;
  min-height: 1000px;
  justify-content: center;
  padding: 3rem 5rem 0 0;
  align-items: center;
  flex-direction: column;
}

.image-container-auth{
  position: relative;
}

.door-image-container{
  border: 2px solid green;
 position: absolute;
 margin: 0 auto;
 padding-right: 30vw;
 /* width: 50%;
 float: right; */
}

.door-image-container.door-open img{
  transform: rotateY(-180deg);
  transition: 1s;
}

.shire-image-container{
  border: 2px solid blue;
  position: absolute;
  object-fit: cover;
  padding-right: 30vw;
}
  /*
  width: 100%;
  height: auto;
  float: right;
}*/

.shire-image-container img{
    width: 100%;
}

.door-image-container img{
  width: 100%;
}

.image-sizing{
  height: 1000px;
}

.form-container{
  /* position: absolute; */
  width: 50%;
  font-family: 'Almendra', cursive;
  font-size: 25px;
}

.form-container>::placeholder{
  font-family: 'Almendra', cursive;
  font-size: 15px;
}

::placeholder{
  font-family: 'Almendra', cursive
}

.auth-nav{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-items button{
  width: 8vw;
  margin: 1rem;
}
