@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&family=Open+Sans&display&family=Almendra&display=swap');
/* font-family: 'Almendra', serif; */
/* font-family: 'Almendra Display', cursive; */
/* font-family: 'Open Sans', sans-serif; */ 

#cart-container-outer{
    /* border: 3px solid red; */
    height: 100vh;
}

.cart-top-container{
    margin-top: 100px;
    /* border: 3px solid red; */
    /* max-width: 75%; */
    margin-left: 7px;
    margin-right: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.cart-username{
font-family: 'Almendra', serif;
font-size: 40px;    
font-weight: bolder;
color: #016544;
}

.cart-account-standing{
    font-family: 'Almendra', serif;
    font-size: 25px;
}

.cart-items-container{
    /* border: 3px solid orange; */
    margin-left: 7px;
    margin-right: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cart-item-container{
    /* border: 3px solid purple; */
    max-width: 49%;
    width: 49%;
}

.cart-bottom-container{
    /* border: 3px solid yellow; */
    margin-left: 7px;
    margin-right: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* HR STYLING */
.cart-item-separator {
    overflow: visible; /* For IE */
    height: 30px;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 30px;
    border-style: solid;
    border-color: rgb(1, 101, 68);
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
.cart-item-separator:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: rgb(1, 101, 68);
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

#cart-footer-container{
    bottom: 0;
}
