@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&family=Open+Sans&display&family=Almendra&display=swap');
/* font-family: 'Almendra', serif;
font-family: 'Almendra Display', cursive;
font-family: 'Open Sans', sans-serif; */


.citem-container{
    /* border: 3px solid pink; */
    max-width: 100%;
    max-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* margin-top: 15px; */
    box-shadow: 0px 0px 1px 3px rgba(1, 101, 68, .5);
}

.citem-pic-container{
    /* border: 3px solid red; */
    background-color: rgba(1, 101, 68, .15);;
    width: 80%;
    /* min-width: 100%; */
    /* height: 300px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    

}

.citem-pic{
    /* width: 900px; */
    object-fit: cover;
    max-width: 100%;
    height: 200px;
    margin: auto;
}

.citem-info-container{
    /* border: 3px solid blue; */
    border-left: 2px solid rgba(1, 101, 68, .5);
    font-family: 'Almendra', serif;
    font-weight: bolder;
    max-height: 100%;
    background-color: #FDFAF6;
    width: 19%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 7px;
    padding-right: 7px;
    box-shadow: 0px 0px 20px 5px rgba(1, 101, 68, .05);
}

.citem-info-container p{
    font-size: 1.2rem;
}

.citem-title-container{
    /* border: 3px solid green; */
    width: 100%;
}

.citem-price-container{
    /* border: 3px solid orange; */
    width: 100%;
}


#checkout-price{
    padding-left: 20px;
    font-size: 2rem;
}

.citem-removebutton-container{
    /* border: 3px solid yellow; */
    width: 100%;
    margin-bottom: 20px;
    margin: auto;
}

.citem-removebutton{
    cursor: pointer;
    max-width: 100%;
}

